/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }




header{
    background-color: #2d2d2d;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    padding: 52px;
}
.logo{  
    background-color: none;
    padding: 0px;
    margin-left: 105px;
    margin-bottom: -30px;
    margin-top: -25px;
}
.logo img{
    width: 45px;
    height: 45px;
}
.navlinks{
    background-color: none;
    margin-right: 40px;
    margin-bottom: -30px;
    margin-top: -20px;
}
.navlinks a:hover{
    color: #09cd92;
}
.nav-btn {
    padding-top: 7px;
    margin-right: 46px;
    color: black;
    text-decoration: none;
    font-family: "Inria Sans";
    font-weight: bold;
    font: 10px sans-serif;
    background-color: #ffffff;
    letter-spacing: 1px;
    height: 30px;
    width: 95px;
    font-style: normal;
    border: 0.7px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px 0px #09cd92, 4px 4px 0px #09cd92, 3px 3px 0px #09cd92, 2px 2px 0px #08cd92;
    transition: 0.030s;
}
.nav-btn:active{
    box-shadow: none;
    transform: translate(3px, 6px);
}

